h1.title {
    display: flex;
}

p.subtext {
    display: flex;
}
div.inputHolder {
	width: auto
}
.inputHolder input {
}
.inputHolder label {
	display: inline-block;
	width: 200px;
	margin-right: 10px;
}
.hide {
	display: none;
}

.mortgageStats {
    white-space: pre;
    margin-top: 10px
}

#chartHolder {
    max-width: 800px;
    max-height: 600px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 12px;
}

#chartHolder div *{
    margin: 5px;
}