.title {
    max-width: 800px;
    text-align: center;
}

.title h1{
    display: inline-block;
}

p.subtext {
    display: flex;
}

div.inputHolder {
	width: auto
}

.inputHolder input {
}

.inputHolder label {
	display: inline-block;
	width: 200px;
	margin-right: 10px;
}

.hide {
	display: none;
}

.mortgageStats {
    white-space: pre;
    margin-top: 10px
}

#chartHolder {
    max-width: 800px;
    max-height: 600px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 12px;
}

#chartHolder div *{
    margin: 5px;
}

.about {
    max-width: 800px;
    margin: 5px 10px 0px 10px;
    border: solid;
    border-width: 2px;
    border-color: lightgray;
}

.about div {
    margin: 3px 5px 3px 5px;
}

.about div h3 {
    margin: 0px 0px 3px 0px;
}
.about div p {
    margin: 0px;
}