h1.title {
    display: flex;
}

p.subtext {
    display: flex;
}
div.inputHolder{
	width: auto
}
.inputHolder input{
}
.inputHolder label{
	display: inline-block;
	width: 200px;
	margin-right: 10px;
}